{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        const csrftoken = Cookies.get('csrftoken');

        async function check_initial_data_entry() {

            let barcode_field_value = document.getElementById('id_barcode_input').value;
            let name_field_value = document.getElementById('id_name_input').value;

            if (barcode_field_value || name_field_value) {

                fetch('{% url 'check_initial_data_entry' %}', {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        'text': 'My Foobar',
                        'barcode': barcode_field_value,
                        'name': name_field_value,
                    }),
                }).then(response => {
                    let result = response.json();
                    let status_code = response.status;

                    if (status_code !== 200) {
                        console.log('Error in checking barcode in db');
                        return false;
                    }

                    return result
                }).then(result => {
                    console.log(result);

                    let initial_input_div = document.getElementById('id_initial_scan_input');
                    let new_input_div = document.getElementById('id_new_item_div');
                    let new_barcode_input = document.getElementById('id_new_barcode_nbr');
                    let name_field_input = document.getElementById('id_new_barcode_name');

                    if (result['user_features_list'].includes("cost_tracking")) {
                        let new_barcode_cost_div = document.getElementById('id_cost_div');
                        new_barcode_cost_div.style.display = 'block';
                    }

                    let category_select = document.getElementById('id_new_item_categories');
                    for (const val of result['categories']) {
                        let option = document.createElement("option");
                        option.value = val;
                        option.text = val;
                        category_select.add(option);
                    }

                    let amount_remaining_select = document.getElementById('id_new_amount_remaining');
                    for (const val of result['amount_remaining_list']) {
                        let option = document.createElement("option");
                        option.value = val;
                        option.text = val;
                        amount_remaining_select.add(option);
                    }

                    initial_input_div.style.display = 'none';
                    new_input_div.style.display = 'block';

                    new_barcode_input.value = barcode_field_value;
                    name_field_input.value = name_field_value;

                    if (result['exists'] === true) {
                        let item_info = result['item_info'];

                        let barcode_nbr = document.getElementById('id_new_barcode_nbr');
                        let barcode_name = document.getElementById('id_new_barcode_name');
                        let barcode_qty = document.getElementById('id_new_barcode_qty');
                        let barcode_category = document.getElementById('id_new_item_categories');
                        let h2_header = document.getElementById('id_scanned_div_h2');

                        barcode_name.value = item_info['name'];
                        barcode_qty.value = item_info['default_quantity']
                        barcode_category.value = item_info['category']
                        barcode_nbr.value = item_info['barcode']

                        h2_header.innerText = 'Previously Scanned Item';

                        if (item_info['description']) {
                            let barcode_desc = document.getElementById('id_new_barcode_desc');
                            barcode_desc.value = item_info['description'];
                        }

                    }

                }).catch(error => {
                    console.log(error)
                })
            } else {
                alert('Please at minimum a Barcode or Name for product being entered.')
            }
        }

        async function add_new_barcode() {
            let barcode_nbr = document.getElementById('id_new_barcode_nbr').value;
            let barcode_name = document.getElementById('id_new_barcode_name').value;
            let barcode_qty = document.getElementById('id_new_barcode_qty').value;
            let barcode_desc = document.getElementById('id_new_barcode_desc').value;
            let barcode_expire = document.getElementById('id_new_barcode_expire').value;
            let barcode_category = document.getElementById('id_new_item_categories').value;
            let barcode_amount_remaining = document.getElementById('id_new_amount_remaining').value;

            let barcode_cost_element = document.getElementById('id_new_barcode_cost');
            if (barcode_cost_element.style.display === 'block') {
                let barcode_cost = document.getElementById('id_new_barcode_cost').value;
            } else {
                let barcode_cost = '';
            }

            if ((!barcode_nbr & !barcode_name) || !barcode_expire || !barcode_category) {
                alert("You need at minimum the Barcode Number, Name, Category and Expiry Date of the item you " +
                    "are entering");
            } else {

                fetch('{% url 'add_new_item' %}', {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        'barcode': barcode_nbr,
                        'name': barcode_name,
                        'description': barcode_desc,
                        'quantity': barcode_qty,
                        'expire_date': barcode_expire,
                        'category': barcode_category,
                        'amount_remaining': barcode_amount_remaining,
                    }),
                }).then(response => {
                    let result = response.json();
                    let status_code = response.status;

                    if (status_code === 422) {
                        alert('One or more of the input data required is missing.');
                        return false
                    }

                    if (status_code !== 200) {
                        console.log('Error: '.concat(result['server_msg']));
                        alert('Error: '.concat(result['server_msg']))
                        return false;
                    }

                    return result
                }).then(result => {
                    console.log(result);

                    let initial_input_div = document.getElementById('id_initial_scan_input');
                    let new_input_div = document.getElementById('id_new_item_div');

                    document.getElementById('id_new_barcode_nbr').value = '';
                    document.getElementById('id_new_barcode_name').value = '';
                    document.getElementById('id_barcode_input').value = '';
                    document.getElementById('id_name_input').value = '';

                    initial_input_div.style.display = 'block';
                    new_input_div.style.display = 'none';

                }).catch(error => {
                    console.log(error)
                })
            }
        }
    </script>
{% endblock %}

{% block content %}

    <div id="id_initial_scan_input" class="m-4 mx-auto p-4 rounded-xl shadow-2xl bg-gray-50 w-4/5"
         style="display: block">
        <h2 class="text-2xl">Scan Barcode or Enter Item Name</h2>
        <br>
        <label for="id_barcode_input">Barcode: </label>
        <input id="id_barcode_input"
               class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <br><br>
        <label for="id_name_input">Name: </label>
        <input id="id_name_input"
               class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <br>
        <br><br>
        <button onclick="check_initial_data_entry()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg">
            Enter Barcode
        </button>
        <br><br>
        <form action="{% url 'log_user_out' %}" method="GET">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg m-4">
                Logout
            </button>
        </form>
    </div>

    <div id="id_new_item_div" style="display: none"
         class="m-4 mx-auto p-4 rounded-xl shadow-2xl bg-gray-50 w-4/5">
        <h2 id="id_scanned_div_h2" class="text-2xl">New Item Scanned</h2>
        <br>
        <p class="mb-2">As this item has not been scanned by you before, please fill in the quantity and optionally a
            description of
            it.</p>
        <div id="id_new_barcode_nbr_div" style="display: block">
            <label for="id_new_barcode_nbr" class="my-2">Barcode: </label><input id="id_new_barcode_nbr" type="text"
                                                                                 class="my-2 rounded" required>

            <br>
        </div>
        <label for="id_new_barcode_name">Name: </label><input id="id_new_barcode_name" type="text"
                                                              class="rounded my-4" required>
        <br>
        <label for="id_new_barcode_desc">Description: </label><input id="id_new_barcode_desc" type="text"
                                                                     placeholder="Optional..."
                                                                     class="rounded my-4">
        <br>
        <div id="id_quantity_div" style="display: none">
            <label for="id_new_barcode_qty">Quantity: </label><input id="id_new_barcode_qty" type="number"
                                                                     class="rounded my-4">
            <br>
        </div>
        <div id="id_cost_div" style="display: none">
            <label for="id_new_barcode_cost">Cost: </label><input id="id_new_barcode_cost" type="number"
                                                                  class="rounded my-4">
            <br>
        </div>
        <label for="id_new_barcode_expire">Expiry Date: </label><input id="id_new_barcode_expire" type="date"
                                                                       class="rounded my-4" required>
        <br>
        <label for="id_new_item_categories">Choose Category:</label>
        <select name="id_new_item_categories" id="id_new_item_categories" class="rounded">
        </select>
        <br><br>
        <label for="id_new_amount_remaining">Choose Amount Remaining:</label>
        <select name="id_new_amount_remaining" id="id_new_amount_remaining" class="rounded">
        </select>
        <br>
        <button onclick="add_new_barcode()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg m-4">
            Submit
        </button>

        <form action="{% url 'log_user_out' %}" method="GET">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg m-4">
                Logout
            </button>
        </form>
    </div>
    <div id="id_confirm_item_div">

    </div>
{% endblock %}